:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-garamond: 'EB Garamond', serif;
}

/* ===========================
    Common css start
=========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,ol {
    list-style-type: none;
}

/* ===========================
    Common css end
=========================== */

/* ===========================
    Font poppins css start
=========================== */

.navbar-nav .nav-item .nav-link, .navbar-collapse button, .banner-sub-title, .banner-content input, .practice-sub-title, .slide-sub-title, .accordition-description, .contact-text, .first-text {
    font-family: var(--font-poppins);
}

/* ===========================
    Font poppins css end
=========================== */


/* ===========================
    Font garamond css start
============================ */
.banner-title, .practice-area-title, .practice-item-title, .slide-title, .accorditon-title, .contact-title, .footer-title  {
    font-family: var(--font-garamond);
}

/* ===========================
    Font garamond css end
============================ */

/* ===========================
    banner css start
=========================== */
.banner-bg {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/banner.png) no-repeat center/cover;
    padding: 104px 0;
}

/* ===========================
    banner css end
=========================== */

/* =============================
    practice area css start
============================= */

.practice-item:hover {
    background-image: linear-gradient(rgb(243, 243, 243), rgba(243, 243, 243, 0));
}

/* =============================
    practice area css end
============================= */

/* =============================
    carousel css start
============================= */
.carousel-item-1 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-1.jpg) no-repeat center/cover;
    padding: 100px 135px;
}

.carousel-item-2 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-2.jpg) no-repeat center/cover;
    padding: 100px 135px;
}

.carousel-item-3 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-3.jpg) no-repeat center/cover;
    padding: 100px 135px;
}

/* =============================
    carousel css end
============================= */

/* =============================
        FAQ css start
============================= */

.accordion-button:focus {
    box-shadow: none;
}

/* =============================
        FAQ css start
============================= */

/* =============================
        Contact css start
============================= */
.contact-left {
    background-color: red;
}

/* =============================
        Contact css end
============================= */