:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-garamond: 'EB Garamond', serif;
    --primary-button-color: #B68C5A;
    --normal-text-color: #707070;
    --section-title-color: #414040;
    --footer-text-color: #CFCFCF;
    --normal-color: #fff;
    --banner-text-color: #E7E7E7;
}

/* ===========================
    Common css start
=========================== */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,ol {
    list-style-type: none;
}


/* ===========================
    Common css end
=========================== */


/* ===========================
    navbar css start
=========================== */
.navbar-nav .nav-item .nav-link {
    font-family: var(--font-poppins);
}

.navbar-collapse button {
    font-family: var(--font-poppins);
}

/* ===========================
    navbar css end
=========================== */


/* ===========================
    banner css start
=========================== */
.banner-bg {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/banner.png) no-repeat center/cover;
    padding: 104px 0;
}

.banner-title {
    font-family: var(--font-garamond);
}

.banner-sub-title {
    font-family: var(--font-poppins);
    padding: 0 100px;
}

.banner-content input {
    font-family: var(--font-poppins);
}

/* ===========================
    banner css end
=========================== */


/* =============================
    practice area css start
============================= */

.practice-area-title {
    font-family: var(--font-garamond);
}


.practice-item:hover {
    background-image: linear-gradient(rgb(243, 243, 243), rgba(243, 243, 243, 0));
}

.practice-item-title {
    font-family: var(--font-garamond);
}

.practice-sub-title {
    font-family: var(--font-poppins);
}

/* =============================
    practice area css end
============================= */


/* =============================
    carousel css start
============================= */
.carousel-item-1 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-1.jpg) no-repeat center/cover;
    padding: 190px 135px;
}

.carousel-item-2 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-2.jpg) no-repeat center/cover;
    padding: 190px 135px;
}

.carousel-item-3 {
    background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0)), url(../images/slider-3.jpg) no-repeat center/cover;
    padding: 190px 135px;
}

.slide-title {
    font-family: var(--font-garamond);
}

.slide-sub-title {
    font-family: var(--font-poppins);
}
/* =============================
    carousel css end
============================= */


/* =============================
        FAQ css start
============================= */

.accorditon-title {
    font-family: var(--font-garamond);
}

.accordition-description {
    font-family: var(--font-poppins);
}

.accordion-button:focus {
    box-shadow: none;
}


/* =============================
        FAQ css start
============================= */

